.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #219c66;
  z-index: 3;
}

.contentContainer {
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  background-color: rgb(46, 89, 95);
}

.closeContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}
