.none {
  display: none;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #219c66;
  left: 0;
  top: 0;
  display: block;
  z-index: 5;
}

.closeContainer {
  position: fixed;
  top: 0.2rem;
  right: 0.2rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  width: 90vw;
  height: 100vh;
  padding: 0 5vw 0 5vw;
}

.container1 {
  background-color: black;
  height: 90vh;
  flex-grow: 1.2;
  max-width: 38vw;
  padding: 0 1vw 0 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
}

.container1 img {
  width: 38vw;
  height: 60vh;
  object-fit: contain;
  margin: 2vh 0 0 0;
}

.container1 h2 {
  margin: 2vh 0 0 0;
  color: rgb(42, 154, 119);
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container1 p {
  margin: 2vh 0 0 0;
  color: white;
  font-size: 0.68rem;
  text-align: center;
  height: 15vh;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

.container2 {
  background-color: rgb(223, 0, 0);
  background-color: rgb(46, 89, 95);
  height: 90vh;
  flex-grow: 2;
  max-width: 50vw;
}

.loadingContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #219c66;
  left: 0;
  top: 0;
  color: white;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer span {
  border-radius: 50%;
  border: 10px solid white;
  height: 150px;
  width: 150px;
  animation: rotation 6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
    border-color: rgb(255, 0, 0) white white white;
  }
  20% {
    transform: rotateZ(360deg);
  }
  20.1% {
    transform: rotateZ(0deg);
    border-color: rgb(246, 255, 0) white white white;
  }
  40% {
    transform: rotateZ(360deg);
  }
  40.1% {
    transform: rotateZ(0deg);
    border-color: rgb(43, 255, 0) white white white;
  }
  60% {
    transform: rotateZ(360deg);
  }
  60.1% {
    transform: rotateZ(0deg);
    border-color: rgb(0, 153, 255) white white white;
  }
  80% {
    transform: rotateZ(360deg);
  }
  80.1% {
    transform: rotateZ(0deg);
    border-color: rgb(255, 0, 230) white white white;
  }
  100% {
    transform: rotateZ(360deg);
    border-color: rgb(255, 0, 0) white white white;

  }
}
