.mainContainer {
  list-style: none;
  position: relative;
 
}

.container {
  background-color: rgb(46, 89, 95);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.1rem;
  text-overflow: clip;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0 0 0 0.5rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  height: 14rem;
  width: 22rem;
}

.imgContainer {
  height: 13rem;
  overflow: hidden;
}

.imgContainer img {
  aspect-ratio: 3/4;
  object-fit: cover;
  height: 13rem;
  border-radius: 0.2rem;
  transition: all 0.4s ease-in;
  /* overflow: hidden; */
}

.imgContainer img:hover {
  transform: scale(1.07);
}

.dataContainer {
  height: 12rem;
  width: 10.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  overflow: hidden;
}

.dataContainer h3 {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.date {
  color: white;
  margin: 0.2rem 0 0 0;
  font-weight: 400;
}

.startDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.endDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date p {
  margin: 0 0 0 0.2rem;
}

.description {
  margin: 0.5rem 0 0 0;
  font-size: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 8.3rem;
  overflow: hidden;
}

.date {
  font-size: 0.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.addFavourite {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
}

.addFavourite img {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
